 <!-- Header-->
 <header class="bg-white py-3">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark ">
            <img class="animate__animated animate__backInLeft mt-5" width="200px" src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/858958/shopping-cart-clipart-xl.png" alt="animated cart">
            <h1 class="display-4 fw-bolder ">Shop in style</h1>
            <p><b>An exciting place for the whole family to shop.</b></p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5 ">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let Product of products | filter : searchItem : 'title' ">
                <div class="card h-100 p-3">
                    <!-- Product image-->
                    <img height="200px" class="card-img-top" [src]="Product.image" alt="products.title" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h6 class="fw-bolder">{{Product.title.slice(0,17)}}...</h6>
                            <!-- Product price-->
                            <b class="text-danger">${{ Product.price}}</b>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="view-product/{{Product.id}}">View options</a></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>