<!-- empty wishlist -->
<div *ngIf="wishlistStatusMsg" class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <!-- empty wishlist image -->
            <img style="height: 300px;" src="https://media.tenor.com/8BeuRyZSb90AAAAC/shopping-cart-shopping.gif" alt="empty wishlist image">
            <h3 >Your wishlist is Empty</h3>
            <button routerLink="/" class="btn btn-primary">Shop More</button>
        </div>
    </div>
   
</div>
<!--wish list Section-->
<section *ngIf="!wishlistStatusMsg" class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let Product of Wishlist">
                <div class="card h-100 p-3">
                    <!-- Product image-->
                    <img height="200px" class="card-img-top" [src]="Product.image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{Product.title.slice(0,17)}}...</h5>
                            <!-- Product price-->
                           <b> ${{Product.price}}</b>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div>
                            <button (click)="removeItem(Product.id)" style="float: left;" class="text-danger btn ">
                                <i class="fa-solid fa-trash fa-fade fa-2x"></i>
                            </button>
                            <button (click)="addToCart(Product)" style="float: right;" class="btn text-success  mt-auto" >
                                <i class="fa-sharp fa-solid fa-cart-plus fa-beat fa-2x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>